header {
    line-height: 1.5;
    max-height: 100vh;
    background-color:black;
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    z-index: 1;
    
}
nav {
    width: 100%;
    font-size: 22px;
    text-align: center;
    
}
.wrapper
{
    padding: 1rem;
}

nav a.router-link-exact-active {
    color: var(--color-text);
}

nav a.router-link-exact-active:hover {
    background-color: transparent;
}

nav a {
    display: inline-block;
    padding: 0 1rem;
    border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
    border: 0;
}

@media (min-width: 1024px) {
    header {
        display: flex;
        place-items: center;
        padding-right: calc(var(--section-gap) / 2);
    }




}
.blank
{
    padding-bottom: 4.1rem;
}




